@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

:root {
    --hue: 220;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    /* background-color: #eee; */
    font-family: 'Darker Grotesque', sans-serif;
    padding-top: 100px;
    padding-left: 100px;
}

p {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    height: 88vh;

}

/* customize grid */
.copy-btn {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 4px 4px 8px #d9d9d9,
        -4px -4px 8px #ffffff;
    cursor: pointer;
    margin-left: 10px;
}

.copy-btn:hover {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 4px 4px 8px #d9d9d9,
        inset -4px -4px 8px #ffffff;
}

.copy-btn span {
    padding: 5px;
    font-size: 30px;

}

.cl-action {
    width: 70%;

    display: flex;
    margin: 10px;
    align-items: center;
}

.cl-container {
    margin-bottom: 100px;
}

.cl-container input {
    width: 70%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
        -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.return {
    margin-left: 150px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: rgba(9, 90, 240, 0.5);
    background: linear-gradient(0deg, rgba(9, 44, 240, 0.502) 0%, rgba(5, 91, 240, 0.505) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */

.progress {
    display: flex;
    align-items: center;
    width: 400px;
    height: 8px;
    background-color: #fafafa;
    box-shadow: inset 1px 1px 2px 0 #2b2a2ad6;
    border-radius: 5px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    --shadow: hsl(var(--hue) 40% 60%);
    /* box-shadow: 0 0 10px var(--shadow); */
    background: var(--shadow);
    animation: glow 0.04s linear forwards;
    height: 3px;
    /* box-shadow: inset 2px 1px 2px 0 #2b2a2ad6; */

    background-size: 1rem 1rem;

}



.progress-container .value {

    position: absolute;
}

.current-year {
    font-size: 90px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
    text-align: center;

}

.value {
    visibility: hidden;
}

.current-date {
    margin-top: 0px;
    margin-bottom: 15px;
}

.alert {
    display: none;
    margin-bottom: 0px;
}

.text {
    margin-top: 40px;
}

.footer {
    font-size: 15px;
    align-items: center;
    display: flex;
    color: #808080
}

.footer .github {
    fill: #808080;
}

.footer span {
    margin-left: 5px;
}

.btn-container {

    display: flex;
    gap: 4rem;
    margin-bottom: 50px;
}

.btn-container button {
    width: 60px;
    height: 60px;
    border-radius: 100vmax;
    border: none;
    background-color: hsl(var(--hue) 60% 50%) !important;
    transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.btn-container button:focus {
    outline: none;
}

.btn-container button:is(:hover, :focus-visible) {
    box-shadow: 0 0 0 5px var(--bkg),
        0 0 0 12px hsl(var(--hue) 60% 50%);
}

[data-color="90"] {
    --hue: 90;
}

[data-color="10"] {
    --hue: 10;
}

[data-color="260"] {
    --hue: 260;
}

[data-color="320"] {
    --hue: 320;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 100px 0;
    }

    to {
        background-position: 0 0;
    }
}


@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@media(max-width : 420px) {
    .progress {
        width: 300px;
    }
}

@media(max-width : 200px) {
    .progress {
        width: 150px;
    }
}

@keyframes glow {
    0% {
        background: #0007;
        box-shadow: none;
    }

    100% {
        --shadow: hsl(var(--hue) 40% 60%);
        box-shadow: 0 0 10px var(--shadow);
        background: var(--shadow);
    }
}